.about {

  &__container {
  }

  &__container-main {
    @include viewport-lg {
      display: flex;
      gap: 30px;
    }
  }

  &__container-main-inner {
    @include viewport-lg {
    flex: 1 1 75% 
    }

    @include viewport-xl {
      flex: 1 1 85% 
    }

    @include viewport-xxl {
      flex: 1 1 95% 
    }
  }

  &__title {
    @include subtitle;
    @include main-gradient-text;
    margin-bottom: 28px;

    &--two {
      margin: 0;

      @include viewport-md {
        margin: 0;
        flex: 1 1 49%
      }

      @include viewport-xxl {
        flex: 1 1 33%
      }
    }
  }

  &__description {
    @include description;
    color: $basic-black;
    margin-bottom: 30px;

    &--two {
      @include viewport-lg {
        margin: 0;
        flex: 1 1 65%;
      }

      @include viewport-xl {
        flex: 1 1 85%;
      }
    }
  }

  &__description-span {
    width: 100%;
    height: 30px;
    display: block;
  }

  &__container-inner {
    display: flex;
    flex-flow: column;
    gap: 40px;
  }

  &__container-item {
    position: relative;
    padding-left: 30px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-left: 4px solid $separator-color;
      height: 100%;
    }
  }

  &__container-inside {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__icon {
    width: 32px;
    height: 32px;
    display: block;

    svg {
      fill: $accent-color;
      width: 32px;
      height: 32px;
    }
  }

  &__container-text {
    @include subtitle;
    @include main-gradient-text;
  }

  &__container-paragraph {
    color: $main-color;
  }

  &__container-image {
    position: relative;
    margin: 30px auto;
    padding: 0;
    
    @include viewport-md {
      padding: 0 30px;
      margin: 60px auto;
    }
  }

  &__container-second {
    padding: 0 30px 60px;
  }

  &__container-title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 13px;
    color: $main-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-shadow: 0 15px 30px #282856;

    @include viewport-md {
      font-size: 46px;
      letter-spacing: 63px;
    }

    @include viewport-lg {
      font-size: 86px;
    }

    @include viewport-xl {
      font-size: 96px;
    }
  }

  &__image {
    width: 100%;
    height: auto;

    @include viewport-md {
      border-radius: $radius-md;
    }
  }

  &__description-inner {
    @include viewport-lg {
      display: flex;
      gap: 60px;
    }
  }

  &__slider {
    background: $bg-color;
    padding: 30px 0 0 0; 
    border-radius: $radius-md $radius-md 0 0;
  }

  &__slider-container {
    text-align: center;
  }

  &__slider-subtitle {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $main-color;
  }

  &__swiper {
    margin: 30px 0;
  }

  &__slide {
    // position: relative;
    
  }

  &__images {
    background: $basic-white;
    border-radius: $radius-md;
    position: relative;
    height: 90px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &__pagination {
    position: static;

    .swiper-pagination-bullet {
      width: 16px;
      height: 16px;
      background-color: $regular-color;
    }
  }
}
